@import 'theme';

.table-dark {
  .state-cancel {
    background-color : $color-error
  }
  .state-option {
    background-color : $color3
  }
  .state-confirm {
    background-color : $color-success
  }
  .greater-error {
    background-color : $color-error
  }
  .greater-success {
    background-color : $color-success
  }
  .class-active {
    text-decoration: none;
  }
  .class-inactive {
    text-decoration: line-through;
  }
}


app-template-a {
  .table-dark {
    .state-option {
      background-color: $color1;
    }
  }
}
app-template-b {
  .table-dark {
    .state-option {
      background-color: $color2;
    }
  }
}
app-template-c {
  .table-dark {
    .state-option {
      background-color: $color1;
    }
  }
}
